---
export interface Props {
  time: string;
  title: string;
  style?: any;
}

const { time, title, style }: Props = Astro.props;
---

<div class="break" style={style}>
  {time}{" "}
  {title}
</div>

<style>
  .break {
    background: var(--color-session-neutral);
    color: var(--color-text);
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 8px;
  }
</style>
