---
export interface Props {
  style: any;
  session: {
    title: string;
    start: string;
    end: string;
    description?: string;
  };
}

const { style, session } = Astro.props;
---

<div class="session" style={style}>
  <header>
    <span class="sr-only">Session start:</span>
    <time>{session.start}</time>
    -
    <span class="sr-only">Session end:</span>
    <time>{session.end}</time>
  </header>
  <h2>{session.title}</h2>
  <footer>Fake Speakers</footer>
</div>

<style>
  .session {
    font-weight: bold;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
  }

  header,
  footer {
    font-size: 0.9em;
  }

  footer {
    border-top: 1px solid var(--color-text);
    margin-top: auto;
  }
</style>
