---
import { Image } from "astro:assets";
import clockImage from "./astronomical_clock.svg";
---

<div class="bg-body-background overflow-hidden">
  <div class="w-[250px] -mx-20 h-auto self-end absolute top-0 right-0 translate-x-14 hidden lg:block">
    <Image
      src={clockImage}
      alt=""
    />
  </div>
