{% extends "base.html" %}

{% block title %}Community — EuroPython 2026{% endblock %}
{% block og_title %}Community — EuroPython 2026{% endblock %}
{% block twitter_title %}Community — EuroPython 2026{% endblock %}
{% block head_extra %}<link rel="canonical" href="{{ base_url }}/community/">{% endblock %}

{% block content %}
<div class="page-breadcrumb">
  <a href="/" class="btn btn-outline btn-warning page-breadcrumb-btn">&#9664;&ensp;Back to homepage</a>
</div>
{% include "about_ep.html" %}
{% include "team.html" %}
{% set cp_detailed = true %}
{% include "community_partners.html" %}
{% include "orgsummit.html" %}
{% endblock %}
