<!-- ============================================================
     SPONSOR INFORMATION
     ============================================================ -->
<section class="sec-wrap sponsor-info-section" id="sponsor-information">
  <div class="sec-inner">

    <div class="progsec-header">
      <h2 class="sec-title">SPONSOR INFORMATION <sup class="sec-anchor"><a href="#sponsor-information">#</a></sup></h2>
    </div>

    {{ markdown_toc("sponsor-information.md") }}

    <div class="sponsor-info-content detail-text">
      {{ markdown_include("sponsor-information.md") }}
    </div>

  </div>
</section>
