---
import { Image } from "astro:assets";
import heroImage from "./hero.svg";
---

<div class="bg-body-background overflow-hidden">
  <div class="max-w-4xl lg:max-w-6xl mx-auto mb-16 w-full relative z-10 px-4">
    <Image
      src={heroImage}
      alt=""
    />
  </div>
  
</div>
