---
import { Image } from "astro:assets";
import heroImage from "./hero.svg";
---

<div class="bg-body-background overflow-hidden">
  <div class="w-full h-auto lg:h-[85vh] px-4 pt-4 pb-8 lg:py-0 flex items-center justify-center">
    <Image
      src={heroImage}
      alt="EuroPython 2025 Hero Image"
      class="w-full max-w-7xl lg:max-w-full h-auto lg:h-full object-contain"
    />
  </div>
</div>
