.prose :is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none !important;
}

.prose :is(h1, h2, h3, h4, h5, h6) a:hover {
  text-decoration: underline !important;
}

.prose :is(h1, h2, h3, h4, h5, h6) a:focus {
  outline: 4px solid #0073e6;
  outline-offset: 5px;
}

ul.milestone-done li {
  position: relative;
  list-style: none;
}

ul.milestone-done li::before {
  content: "\2705  " !important;
  background: none !important;
}

ul.milestone-todo li {
  position: relative;
  list-style: none;
}

ul.milestone-todo li::before {
  content: "\1F4DD  " !important;
  background: none !important;
}

.prose img {
  max-width: max(800px, 50vw);
}

img.finaid-accent-round-marker {
  width: 120px;
  min-width: 70px;
  padding: 0 10px;
  display: inline-block;
  margin: 0;
}

table.finaid-timeline td {
  padding-bottom: 1rem;
}

div.finaid-sponsor {
  width: 50%;
  margin: 0 auto 2rem auto;
}

summary h4::after {
  content: "👇";
}

.list-disc li {
  list-style: none;
  position: relative;
}

ul.list-disc li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: -30px;
  top: 0.2em;
}

ul ul.list-disc li {
  list-style: disc;
}
ul ul.list-disc li::before {
  display: none;
}

p.tick::before {
  content: "\2705  ";
  padding: 0.5rem;
}

p.cross::before {
  content: "\274C  ";
  padding: 0.5rem;
}

p.tick::after,
p.cross::after {
  content: "\23EC";
  display: inline-block;
  font-size: 1.3em;
  margin-left: 0.4em;
}

.md_table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
@media screen and (max-width: 680px) {
  .md_table thead {
    border: none;
  }
  .md_table tr {
    display: block;
    margin-bottom: 0.8em;
    border: none;
  }
  .md_table th {
    margin-bottom: 0.8em;
    border: none;
    display: block;
  }

  .md_table thead th div {
    text-align: center;
    justify-content: center;
  }

  .md_table tr td {
    border: none;
    display: block;
    text-align: left;
    position: relative;
    padding-inline-start: 0.8em;
  }
  .md_table tr td:before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 0;
  }
  .md_table tr td:last-child {
    border-bottom: 0;
  }
  .md_table__thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
