#search {
  padding: 10px;
  position: relative;
  width: 100%;
  max-width: 48rem;
  margin: auto;
  overflow: auto;
  transition: background ease-out 0.2s;
  z-index: 2;
}

.pagefind-ui__search-input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-inline-start: 0.75rem;
  padding-inline-end: 0.5rem;
  background-color: #fff;
  font-size: 16px;
  color: #000000;
}

.pagefind-ui__result.selected {
  background-color: #f8f8f8;
  background-image: linear-gradient(to right, #3684b6 7px, transparent 5px);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pagefind-ui__result:hover {
  background-color: #f8f8f8;
}
.pagefind-ui__message {
  margin: 1em;
}
.pagefind-ui__result mark {
  background: #f9eb5d;
  background-image: linear-gradient(to right, #f9eb5d 10%, #fcf4a7 100%);
  margin: 4px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #000000;
  font-family: monospace;
  border-radius: 4px;
}
.pagefind-ui {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #141f36;
  --pagefind-ui-text: black;
  --pagefind-ui-border: #d8d8d8;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 0.5rem;
}
.pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
  z-index: 9999;
  position: relative;
  overflow: auto;
}
.pagefind-ui__result {
  padding: 0 2em 1em !important;
}
.pagefind-ui .pagefind-ui__result-link {
  color: var(--pagefind-ui-primary);
}
.pagefind-ui .pagefind-ui__result-excerpt {
  color: var(--pagefind-ui-text);
}
