---
import Layout from "../layouts/Layout.astro";
import { Fullbleed } from "../components/layout/fullbleed";
---

<Layout
  title="404 - EuroPython 2024 | July 8th-14th 2024 | Prague, Czech Republic & Remote"
  description="Page not found"
>
  <Fullbleed>
    <div class="illustration">
      <svg
        width="1787"
        height="1614"
        viewBox="0 0 1787 1614"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M552.57 671.921C613.636 671.921 663.14 622.418 663.14 561.352C663.14 500.286 613.636 450.782 552.57 450.782C491.504 450.782 442 500.286 442 561.352C442 622.418 491.504 671.921 552.57 671.921Z"
          fill="#F9FAF3"></path>
        <path
          d="M663.141 476.299C724.207 476.299 773.711 428.699 773.711 369.982C773.711 311.264 724.207 263.665 663.141 263.665C602.075 263.665 552.571 311.264 552.571 369.982C552.571 428.699 602.075 476.299 663.141 476.299Z"
          fill="#F9FAF3"></path>
        <path
          d="M892.797 595.374C1052.51 595.374 1181.98 542.062 1181.98 476.298C1181.98 410.535 1052.51 357.223 892.797 357.223C733.086 357.223 603.614 410.535 603.614 476.298C603.614 542.062 733.086 595.374 892.797 595.374Z"
          fill="#F9FAF3"></path>
        <path
          d="M884.292 476.299C945.358 476.299 994.862 428.699 994.862 369.982C994.862 311.264 945.358 263.665 884.292 263.665C823.226 263.665 773.722 311.264 773.722 369.982C773.722 428.699 823.226 476.299 884.292 476.299Z"
          fill="#F9FAF3"></path>
        <path
          d="M535.569 212.633C573.148 212.633 603.612 180.265 603.612 140.337C603.612 100.409 573.148 68.0415 535.569 68.0415C497.99 68.0415 467.526 100.409 467.526 140.337C467.526 180.265 497.99 212.633 535.569 212.633Z"
          fill="#F9FAF3"></path>
        <path
          d="M926.81 238.149C964.389 238.149 994.853 207.686 994.853 170.106C994.853 132.527 964.389 102.063 926.81 102.063C889.231 102.063 858.767 132.527 858.767 170.106C858.767 207.686 889.231 238.149 926.81 238.149Z"
          fill="#F9FAF3"></path>
        <path
          d="M1250.02 144.591C1287.6 144.591 1318.06 112.223 1318.06 72.2957C1318.06 32.3679 1287.6 0 1250.02 0C1212.44 0 1181.98 32.3679 1181.98 72.2957C1181.98 112.223 1212.44 144.591 1250.02 144.591Z"
          fill="#F9FAF3"></path>
        <path
          d="M1105.43 476.299C1166.5 476.299 1216 428.699 1216 369.982C1216 311.264 1166.5 263.665 1105.43 263.665C1044.37 263.665 994.865 311.264 994.865 369.982C994.865 428.699 1044.37 476.299 1105.43 476.299Z"
          fill="#F9FAF3"></path>
        <path
          d="M773.712 671.921C834.778 671.921 884.282 622.418 884.282 561.352C884.282 500.286 834.778 450.782 773.712 450.782C712.646 450.782 663.142 500.286 663.142 561.352C663.142 622.418 712.646 671.921 773.712 671.921Z"
          fill="#F9FAF3"></path>
        <path
          d="M994.854 671.921C1055.92 671.921 1105.42 622.418 1105.42 561.352C1105.42 500.286 1055.92 450.782 994.854 450.782C933.788 450.782 884.284 500.286 884.284 561.352C884.284 622.418 933.788 671.921 994.854 671.921Z"
          fill="#F9FAF3"></path>
        <path
          d="M1211.73 671.921C1270.45 671.921 1318.05 622.418 1318.05 561.352C1318.05 500.286 1270.45 450.782 1211.73 450.782C1153.02 450.782 1105.42 500.286 1105.42 561.352C1105.42 622.418 1153.02 671.921 1211.73 671.921Z"
          fill="#F9FAF3"></path>
        <rect
          x="294.913"
          y="797.402"
          width="144.591"
          height="816.516"
          rx="60"
          fill="#FFB340"></rect>
        <rect
          x="354.932"
          y="773"
          width="130"
          height="531.494"
          rx="60"
          transform="rotate(41.8975 354.932 773)"
          fill="#FFB340"></rect>
        <rect
          x="551.407"
          y="1127.4"
          width="130"
          height="531.494"
          rx="60"
          transform="rotate(90 551.407 1127.4)"
          fill="#FFB340"></rect>
        <rect
          x="1529.91"
          y="797.402"
          width="144.591"
          height="816.516"
          rx="60"
          fill="#FFB340"></rect>
        <rect
          x="1589.93"
          y="773"
          width="130"
          height="531.494"
          rx="60"
          transform="rotate(41.8975 1589.93 773)"
          fill="#FFB340"></rect>
        <rect
          x="1786.41"
          y="1127.4"
          width="130"
          height="531.494"
          rx="60"
          transform="rotate(90 1786.41 1127.4)"
          fill="#FFB340"></rect>
        <rect
          x="1014.84"
          y="785"
          width="144.591"
          height="816.516"
          rx="60"
          fill="#FFB340"></rect>
        <rect
          x="627.162"
          y="785"
          width="144.591"
          height="816.516"
          rx="60"
          fill="#FFB340"></rect>
        <rect
          x="1159.49"
          y="785"
          width="130"
          height="531.494"
          rx="60"
          transform="rotate(90 1159.49 785)"
          fill="#FFB340"></rect>
        <rect
          x="1159.49"
          y="1472"
          width="130"
          height="531.494"
          rx="60"
          transform="rotate(90 1159.49 1472)"
          fill="#FFB340"></rect>
      </svg>
    </div>
  </Fullbleed>
</Layout>

<style>
  .illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ffca40;
    padding-top: 100px;
    padding-bottom: 100px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: #ff8ba1;
    }

    svg {
      position: relative;
      z-index: 1;
      width: 90%;
      max-width: 600px;
      height: auto;
    }
  }
</style>
