---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/prose/prose.astro";
import ListSessions from "../components/sessions/list-sessions.astro";

const sessions = await getCollection("sessions");
const posters = sessions.filter(s => s.data.submission_type === "Poster");

const title = "Posters";

const description = "A list of all the posters at the conference";
---

<Layout title={title} description={description}>
  <div class="px-6">
    <Prose>
      <h1>Posters</h1>

      <p>
      During the lunch breaks on Wednesday, Thursday and Friday, we will host {posters.length} poster sessions. You can see them all below.
      </p>

      <p>
      The Posters will be available throughout the entire event. If you want to talk to the author of the poster, please visit the expo area during the scheduled poster session.
      </p>

      <h2>List of Posters</h2>
    </Prose>

    <ListSessions sessions={posters} />
  </div>
</Layout>
