---
import { Logo } from "../logo";

interface Props {
  inverted?: boolean;
}

const { inverted } = Astro.props;
---

<a href="/">
  <Logo className="w-11 h-auto mr-4 block md:hidden" />
  <Logo
    className="h-auto hidden md:block w-full pr-3 lg:pr-8"
    inverted={inverted}
  />
</a>
