---
export interface Props {
  href?: string;
  variant?: "standard" | "menu" | "live";
}

const { href, variant = "standard" } = Astro.props;
---

<a
  class:list={[
    "font-bold text-lg px-4 py-4 bg-secondary rounded-[60px] inline-block leading-4",
    "hover:bg-primary-hover hover:text-text-inverted",
    {
      "bg-text": variant === "menu",
      "bg-primary": variant === "standard",
      "text-text-inverted": variant !== "live",
      "bg-red": variant === "live",
    },
  ]}
  href={href}
>
  <slot />
</a>
