---
import { Fullbleed } from "./layout/fullbleed";

import links from "../data/links.json";
import { EPSLogo } from "./logo/eps-logo";

const buildTimestamp = import.meta.env.TIMESTAMP;
const gitVersion = import.meta.env.GIT_VERSION;
---

<Fullbleed className="bg-primary text-white">
  <footer
    class="max-w-4xl lg:max-w-6xl mx-auto py-16 lg:grid grid-cols-2 px-6 gap-60"
  >
    <div>
      <nav class="mb-12">
        <h6 class="font-bold text-xl mb-6">Quicklinks</h6>

        {
          links.footer.map((item) => (
            <li class="list-none">
              <a
                href={item.path}
                class="block font-bold text-4xl md:text-5xl mb-4 hover:text-primary-hover"
              >
                {item.name}
                {item.path.startsWith("http") ? <span> ↗</span> : null}
              </a>
            </li>
          ))
        }
      </nav>
    </div>

    <article
      class="flex flex-col lg:flex-row self-center gap-8 lg:gap-12 justify-end"
    >
      <div>
        <EPSLogo className="max-w-[200px] h-auto w-full" />
      </div>
      <div>
        <address class="not-italic mb-4">
          EuroPython Society (EPS)
          <br />Ramnebacken 45
          <br />
          424 38 Agnesberg
          <br />
          Sweden
        </address>

        <p class="mb-4">
          <a
            class="underline whitespace-nowrap"
            href="https://europython-society.org"
          >
            europython-society.org <span> ↗</span>
          </a>
          <a
            class="underline whitespace-nowrap"
            href="https://blog.europython.eu"
          >
            blog.europython.eu <span> ↗</span>
          </a>
          <br />
          <a
            class="underline whitespace-nowrap"
            href="https://twitter.com/europython"
          >
            twitter.com/europython <span> ↗</span>
          </a>
          <br />
          <a
            class="underline whitespace-nowrap"
            href="https://linkedin.com/company/europython"
          >
            linkedin.com/company/europython <span> ↗</span>
          </a>
          <br />
          <a
            class="underline whitespace-nowrap"
            href="https://fosstodon.org/@europython"
          >
            fosstodon.org/@europython <span> ↗</span>
          </a>
          <br />
          <a
            class="underline whitespace-nowrap"
            href="https://github.com/europython"
          >
            github.com/europython <span> ↗</span>
          </a>
        </p>
          <p class="mb-4" style="color: rgba(255, 255, 255, 0.4)">version: {gitVersion} @ {buildTimestamp}</p>
      </div>
    </article>

  </footer>
</Fullbleed>
