---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Person1 from "../placeholders/person-1.astro";
import Person2 from "../placeholders/person-2.astro";
import Person3 from "../placeholders/person-3.astro";
import Person4 from "../placeholders/person-4.astro";
import Person5 from "../placeholders/person-5.astro";

export interface Props {
  name: string;
  tagline?: string;
  image?: ImageMetadata;
  link: string;
  placeholder?: boolean;
  class?: string;
}

const {
  link,
  name,
  tagline,
  image,
  placeholder,
  class: className,
} = Astro.props;

const placeholders = [Person1, Person2, Person3, Person4, Person5];

const Placeholder =
  placeholders[Math.floor(Math.random() * placeholders.length)];
---

<li class:list={["list-none rounded-2xl overflow-clip flex group", className]}>
  <a class="block w-full h-full relative">
    <div class="relative aspect-[9/10] overflow-clip">
      {
        image ? (
          <Image
            src={image}
            alt={`A photo of ${name}`}
            width={800}
            class="object-cover group-hover:scale-105 transition-transform h-full w-full"
          />
        ) : (
          <div class="bg-keynoter-info w-full h-full group-hover:opacity-90">
            <Placeholder />
          </div>
        )
      }
    </div>

    <div
      class="px-5 py-2 pb-4 bg-keynoter-info rounded-t-none h-full group-hover:opacity-90"
    >
      {
        placeholder ? (
          <p class="text-body-inverted font-bold">More keynoters coming soon</p>
        ) : (
          <>
            <p class="text-body-inverted font-bold">{name}</p>
            {tagline ? (
              <p class="text-body-light font-bold text-sm italic">{tagline}</p>
            ) : null}
          </>
        )
      }
    </div>
  </a>
</li>
