:root {
  --unit: 1rem;
  --unit-1-5: 1.5rem;
  --unit-2: 2rem;
  --unit-3: 3rem;
  --unit-4: 4rem;
  --leading: 1.4;
  --measure: 960px;
  --measure-large: 1150px;
  --measure-min: 276px;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-header: var(--font);
  --color-background: #001c13;
  --color-body: #fff;
  --color-body-light: #888888;
  --color-body-inverted: #001c13;
  --color-select: #b3d4fc;
  --color-access: #fd0;
  --color-error: #ce3333;
  --color-line: #b1b4b6;
  --color-light: #d8d8d8;
  --color-very-light: #f3f2f1;
  --color-primary: #f18a00;
  --color-primary-hover: #f4a740;
  --color-primary-active: #f4a740;
  --color-primary-visited: #f18a00;
  --color-secondary: #3dae2b;
  --color-secondary-light: #ecf7ea;
  --color-secondary-dark: #194712;
  --color-secondary-hover: #194712;
  --color-secondary-active: #003e21;
  --color-secondary-visited: #00703c;
  --color-tertiary: #942514;
  --color-tertiary-hover: #6f0000;
  --color-tertiary-active: #6f0000;
  --color-tertiary-visited: #6f0000;
  --color-sponsors-background: #fff;
  --color-sponsors-text: #000;
  --color-beginner: #3dae2b;
  --color-intermediate: #f7b500;
  --color-advanced: #ce3333;
}

* {
  box-sizing: border-box;
}

.hide {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

::placeholder {
  color: var(--color-body-light);
}

::selection {
  background: var(--color-select);
  text-shadow: none;
}

html {
  margin: 0;
  padding: 0;
  background: var(--color-background);
}

body {
  background: var(--color-background);
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 100%;
  line-height: var(--leading);
  color: var(--color-body);
  overflow-x: hidden;
}

header {
  background: var(--color-background);
  color: var(--color-body);
  padding: var(--unit-1-5);
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

@media all and (min-width: 960px) {
  header {
    padding: var(--unit-2);
  }
}

main header {
  padding-top: var(--unit-2);
  padding-bottom: var(--unit-2);
  color: var(--color-body);
  background: none;
  text-align: center;
}

nav ol,
nav ul {
  font-size: 1rem;
}

header nav {
  margin: 0 auto;
}

header button {
  margin-left: 1rem;
}

nav a {
  color: var(--color-body);
}

header nav ol,
header nav ul {
  margin: var(--unit) 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  gap: var(--unit);
  border-right: 2px solid var(--color-body);
}

header + nav {
  border-top: 10px solid var(--color-primary);
  max-width: var(--measure);
  margin: 0 auto var(--unit);
  padding: 0 var(--unit);
}

header nav li {
  display: inline-block;
  margin-bottom: 0;
}

header nav li a {
  display: inline-block;
  border-left: 2px solid var(--color-body);
  padding: 0.375rem 1.25rem;
}

@media all and (min-width: 960px) {
  header nav li a {
    min-width: 7rem;
  }
}

@media all and (min-width: 1280px) {
  header nav li a {
    min-width: 10.5rem;
  }
}

header nav li a:hover,
header nav li a.active {
  background: var(--color-secondary);
  text-decoration: none;
  color: var(--color-body);
}

header + nav li + li:before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: none;
  border-top: 1px solid var(--color-line);
  border-right: 1px solid var(--color-line);
  transform: rotate(45deg);
  margin: 0 0.5em 0 0;
}

article,
main {
  padding: 0 var(--unit-1-5);
  margin: 0 auto;
  max-width: var(--measure);
}

@media all and (min-width: 1280px) {
  article,
  main {
    max-width: var(--measure-large);
  }
}

main article {
  padding: var(--unit) 0;
  max-width: 640px;
}

p {
  font-size: 1.1875rem;
  line-height: 2rem;
}

p.large {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
}

@media all and (min-width: 960px) {
  p.large {
    font-size: 4rem;
    line-height: 4rem;
  }
}

a {
  color: var(--color-primary);
}

a:hover,
#__next > footer a:hover {
  color: var(--color-primary-hover);
}

a:active {
  color: var(--color-primary-active);
}

a:focus {
  outline-offset: 0;
  outline: 3px solid transparent;
  color: var(--color-body-inverted);
  text-decoration: none;
  background-color: var(--color-access);
  box-shadow: 0 -2px var(--color-access), 0 2px var(--color-body);
}

a[href="javascript:history.back()"]:before,
a[href="#top"]:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: transparent;
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
  border-width: 5px 6px 5px 0;
  border-right-color: inherit;
  margin-right: 0.5em;
}

a[href="#top"]:before {
  transform: rotate(90deg);
}

a[href*="://"]:after
{
  content: " ↗";
  text-decoration: none !important;
}

#__next > header nav a {
  color: var(--color-body);
  font-weight: 700;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0 0.6em;
  position: relative;
}

.highlighted::before {
  content: "#";
  display: inline-block;
  color: var(--color-body-light);
  position: absolute;
  top: 0;
  left: -4rem;
}

@media all and (max-width: 800px) {
  .highlighted::before {
    display: none;
  }
}

h1.highlighted::before,
.h1.highlighted::before {
  left: -4rem;
}

h2.highlighted::before,
.h2.highlighted::before {
  left: -3rem;
}

h3.highlighted::before,
.h3.highlighted::before {
  left: -2.5rem;
}

h4.highlighted::before,
.h4.highlighted::before {
  left: -2rem;
}

h5.highlighted::before,
.h5.highlighted::before {
  left: -1.75rem;
}

h6.highlighted::before,
.h6.highlighted::before {
  left: -1.5rem;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2.25rem;
}

h4,
.h4 {
  font-size: 1.6875rem;
}

h5,
.h5 {
  font-size: 1.5rem;
}

h6,
.h6 {
  font-size: 1.1875rem;
}

@media all and (min-width: 640px) {
  h1,
  .h1 {
    font-size: 5rem;
  }

  h2,
  .h2 {
    font-size: 3rem;
  }
}

hgroup {
  margin-top: var(--unit-2);
  padding: var(--unit-2) var(--unit-1);
}

hgroup > :first-child {
  font-weight: 400;
  color: var(--color-body-light);
}

hgroup :last-child {
  font-weight: 700;
  margin-top: -0.25em;
}

hr {
  background: var(--color-secondary-dark);
  height: 2px;
  border: none;
  margin: var(--unit-3) 0;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--measure-min), 1fr));
  grid-column-gap: var(--unit-3);
}

section header {
  grid-column: 1/-1;
}

section article {
  grid-column: span 2;
  padding-top: 0;
}

form {
  display: block;
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label,
legend {
  display: block;
  margin-bottom: calc(var(--unit) / 2);
  margin-top: var(--unit-2);
  margin-left: var(--unit);
  font-size: 1.125rem;
  font-weight: bold;
}

legend:after,
legend:before {
  display: none;
}

button,
.button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  width: auto;
  background-color: var(--color-primary);
  color: var(--color-body-inverted);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font);
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  -moz-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  padding: 0.75rem 1rem;
  flex-shrink: 0;
  border: 0;
  text-decoration: none;
  border: 2px solid var(--color-primary);
}

@media all and (min-width: 640px) {
  button,
  .button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"] {
    padding: 1rem 1.5rem;
  }
}

.button + .button {
  margin-left: 0.5rem;
}

article .button {
  margin-bottom: 0.5rem;
}

.button.secondary {
  background-color: var(--color-background);
  color: var(--color-body);
}

input[type="submit"] {
  margin-top: var(--unit-2);
}

input[type="button"]:hover,
.button:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-body-inverted);
  text-decoration: none;
}

input[type="reset"] {
  background-color: var(--color-tertiary);
}

input[type="reset"]:hover {
  background-color: var(--color-tertiary-hover);
}

button:hover,
input[type="submit"]:hover {
  background: var(--color-secondary-hover);
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  transform: translateY(2px);
}

fieldset button,
fieldset input[type="submit"],
input[type="button"],
input[type="reset"] {
  margin-bottom: 0;
}

input[type="image"] {
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-block;
  background: var(--color-body);
}

input[type="search"] {
  width: calc(100% - 40px);
  display: inline-block;
  float: left;
}

input,
output,
textarea {
  color: var(--color-body);
  display: inline-block;
  font-size: 1.1875rem;
  line-height: 3rem;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  width: 100%;
  height: 3.5rem;
  margin-top: 0;
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-body);
  border-radius: 0;
  appearance: none;
  background-color: var(--color-background);
}

output {
  font-weight: 700;
}

input[type="file"] {
  padding: 0 7px 0 0;
  border: none;
}

input[type="color"] {
  width: 3rem;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input[type="radio"] + label {
  display: block;
  position: relative;
  padding-left: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

.radios--inline input[type="radio"] + label {
  display: inline-block;
}

input[type="radio"] + label:before {
  content: "";
  display: inline-block;

  position: absolute;
  left: -0.5rem;
  top: 0;
  margin-top: -0.25rem;
  vertical-align: baseline;
  width: 2rem;
  height: 2rem;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"%3E%3Cg fill="none" fill-rule="evenodd" stroke="%23FFF" transform="translate(1 1)"%3E%3Ccircle cx="23.5" cy="23.5" r="21.5" fill="%23000" stroke-width="4"/%3E%3Ccircle cx="23.5" cy="23.5" r="14" fill="%23FFF" stroke-width="7"/%3E%3C/g%3E%3C/svg%3E');
  cursor: pointer;
  background-size: cover;
}

input[type="radio"]:checked + label:before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"%3E%3Cg fill="%23000" fill-rule="evenodd" stroke="%23FFF" transform="translate(1 1)"%3E%3Ccircle cx="23.5" cy="23.5" r="21.5" stroke-width="4"/%3E%3Ccircle cx="23.5" cy="23.5" r="14" stroke-width="7"/%3E%3C/g%3E%3C/svg%3E');
}

input[type="radio"]:focus + label:before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"%3E%3Cg fill="none" fill-rule="evenodd" transform="translate(1 1)"%3E%3Ccircle cx="23.5" cy="23.5" r="21.5" fill="%23000" stroke="%23FD0" stroke-width="4"/%3E%3Ccircle cx="23.5" cy="23.5" r="13" fill="%23FFF" stroke="%23FFF" stroke-width="6"/%3E%3C/g%3E%3C/svg%3E%0A');
}

input[type="radio"]:focus:checked + label:before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"%3E%3Cg fill="%23000" fill-rule="evenodd" transform="translate(1 1)"%3E%3Ccircle cx="23.5" cy="23.5" r="21.5" stroke="%23FD0" stroke-width="4"/%3E%3Ccircle cx="23.5" cy="23.5" r="13" stroke="%23FFF" stroke-width="6"/%3E%3C/g%3E%3C/svg%3E');
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}

.checkboxes--inline input[type="checkbox"] + label {
  display: inline-block;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;

  position: absolute;
  left: -0.25rem;
  top: 0;
  margin-top: -0.25rem;
  vertical-align: baseline;
  width: 2rem;
  height: 2rem;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FFF" stroke-width="3" d="M2 2h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="2" d="M4.5 4.5h40v40h-40z"/%3E%3C/g%3E%3C/svg%3E%0A');
  cursor: pointer;
  background-size: cover;
}

input[type="checkbox"]:checked + label:before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FFF" stroke-width="3" d="M2 2.4h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="2" d="M4.5 5h40v40h-40z"/%3E%3Cpath fill="%23000" d="M15.6 23.4l5 5 12.7-12.8 3.6 3.6-16.3 16.2L12 27z"/%3E%3C/g%3E%3C/svg%3E');
}

input[type="checkbox"]:focus + label:before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FD0" stroke-width="3" d="M2 2h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="4" d="M5.5 5.5h38v38h-38z"/%3E%3C/g%3E%3C/svg%3E%0A');
}

input[type="checkbox"]:focus:checked + label:before {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23000" stroke="%23FD0" stroke-width="3" d="M2 2h45v45H2z"/%3E%3Cpath fill="%23FFF" stroke="%23000" stroke-width="4" d="M5.5 5.5h38v38h-38z"/%3E%3Cpath fill="%23000" d="M15.6 23l5 5 12.7-12.8 3.6 3.5L20.6 35 12 26.5z"/%3E%3C/g%3E%3C/svg%3E%0A');
}

input:disabled {
  cursor: default;
}

input[type="time"] {
  width: 7rem;
}

input[type="date"],
input[type="week"],
input[type="month"] {
  width: 14rem;
}

input[type="datetime"],
input[type="datetime-local"] {
  width: 16rem;
}

select {
  font-size: 1.1875rem;
  line-height: 3rem;

  font-family: var(--font);
  font-weight: 400;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border: 2px solid var(--color-body);
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-body);
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url(/img/icons/arrow-down.svg);
  background-position: calc(100% - 1rem) center;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
}

textarea {
  min-height: 10rem;
  line-height: 1.5;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
  outline: 0;
  border: 2px solid var(--color-primary);
}

textarea.error,
input.error,
select.error {
  outline: 0;
  border: 2px solid var(--color-error);
}

.error-message {
  color: var(--color-error);
  font-size: 0.875rem;
  margin: 0.75rem 1rem;
}

.error-message:before {
  content: "#";
  display: inline-block;
  color: var(--color-error);
  margin-right: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(80, 80, 80, 0.5);
  border-radius: 0;
  border: 0 solid #1a1a1a;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  border: 2px solid #000;
  height: 32px;
  width: 33px;
  border-radius: 32px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(139, 139, 139, 0.5);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(80, 80, 80, 0.5);
  border-radius: 0;
  border: 0 solid #1a1a1a;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  border: 2px solid #000;
  height: 32px;
  width: 33px;
  border-radius: 32px;
  background: #fff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: rgba(21, 21, 21, 0.5);
  border: 0 solid #1a1a1a;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}

input[type="range"]::-ms-fill-upper {
  background: rgba(80, 80, 80, 0.5);
  border: 0 solid #1a1a1a;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
}

input[type="range"]::-ms-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  border: 2px solid #000;
  height: 32px;
  width: 33px;
  border-radius: 32px;
  background: #fff;
  cursor: pointer;
  height: 4px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(80, 80, 80, 0.5);
}

input[type="range"]:focus::-ms-fill-upper {
  background: rgba(139, 139, 139, 0.5);
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb,
input[type="range"]:focus::-ms-thumb {
  box-shadow: 2px 2px 0 #fd0;
}

address {
  display: block;
  margin: var(--unit) 0;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

blockquote {
  font-size: 2rem;
  line-height: 2.75rem;
  margin: var(--unit-2) 0;
  position: relative;
  margin-top: 6rem;
}

@media screen and (min-width: 960px) {
  blockquote {
    font-size: 3rem;
    line-height: 4rem;
  }
}

blockquote:before {
  content: "";
  display: block;
  background-image: url(/img/icons/quotes.svg);
  background-repeat: no-repeat;
  width: 4.5rem;
  height: 1.5rem;
  position: absolute;
  top: -2rem;
}

blockquote span {
  background-color: var(--color-primary);
  color: var(--color-body-inverted);
  font-weight: 800;
  padding: 0 0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  box-decoration-break: clone;
}

blockquote cite {
  display: block;
  color: var(--color-body);
  font-size: 1rem;
  line-height: 2.5rem;
  font-style: normal;
}

blockquote cite:before {
  content: "#";
  display: inline-block;
  color: var(--color-body);
  margin-right: 0.5rem;
}

q:before {
  content: "“";
}

q:after {
  content: "”";
}

ins {
  color: var(--color-secondary);
}

del {
  color: var(--color-tertiary);
}

code {
  font-size: 1rem;
}

kbd {
  font-size: 1rem;
  background: black;
  color: white;
  outline: 0.2em solid black;
}

mark {
  font-size: 1rem;
  background-color: var(--color-access);
  outline: 0.2em solid var(--color-access);
}

var {
  display: inline-block;
  color: #fff;
  background-color: var(--color-primary);
  border-radius: 0.1em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding: 0.1em 0.2em;
}

pre {
  max-width: 100%;
  display: block;
  overflow: auto;
  font-size: 1rem;
  border: 0;
  outline: 1px solid transparent;
  background-color: var(--color-very-light);
  margin: var(--unit) 0;
  padding: var(--unit);
  border: 1px solid var(--color-line);
}

samp {
  font-size: 1rem;
}

dl {
  display: grid;
  grid-column-gap: var(--unit-2);
  grid-row-gap: var(--unit);
  grid-template-columns: [dt] max-content [dd] 1fr;
  margin: var(--unit) 0 var(--unit-2);
}

dt {
  font-weight: 700;
  grid-column-start: dt;
  grid-column-end: dt;
}

dd {
  margin: 0;
  padding: 0;
  grid-column-start: dd;
  grid-column-end: dd;
}

ul,
ol {
  line-height: var(--leading);
  padding-left: 1.25rem;
  margin: var(--unit) 0 var(--unit-2);
  font-size: 1.1875rem;
}

ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

li {
  margin-bottom: 0.3125rem;
}

.unstyled-list {
  list-style-type: none;
  padding-left: 0;
}

summary,
summary:hover {
  margin-left: -1.5rem;
  font-size: 1.1875rem;
  color: var(--color-primary);
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 1rem;
}

summary:hover {
  text-decoration: underline;
}

summary:active {
  color: var(--color-primary-active);
  text-decoration: underline;
}

summary:focus {
  outline: 0;
}

details {
  position: relative;
  padding: 0 0 0 1.5625rem;
  margin-bottom: var(--unit);
}

details[open]:before {
  content: "";
  border-left: 10px solid var(--color-line);
  position: absolute;
  top: 2.2rem;
  left: 0.125rem;
  bottom: -0.625rem;
}

table,
table thead {
  border-collapse: collapse;
  border-radius: var(--border-radius);
  padding: 0;
}

table {
  border: 1px solid var(--color-bg-secondary);
  border-spacing: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 100%;
  overflow: scroll;
  border: 0;
  width: 100%;
  table-layout: fixed;
}

caption {
  padding: 0.5em 0;
  color: var(--color-body-light);
}

td,
th,
tr {
  padding: 0.4rem 0.8rem;
  text-align: var(--justify-important);
}

thead {
  background-color: var(--color);
  margin: 0;
  color: var(--color-text);
  background: 0 0;
  font-weight: 700;
}

thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

thead th:first-child,
tr td:first-child {
  text-align: var(--justify-normal);
}

tr {
  border-bottom: 1px solid gray;
}

tbody th {
  text-align: left;
}

frame,
frameset,
iframe {
  border: 2px solid var(--color-body);
  margin: 0;
  width: 100%;
  height: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: var(--unit-3) 0;
  width: var(--measure-large);
  max-width: 100%;
  position: relative;
}

figure img {
  border-radius: 20px;
}

figcaption {
  padding: 0.5em 0;
  color: var(--color-body);
  font-size: 0.875rem;
}

figcaption:before {
  content: "#";
  display: inline-block;
  margin-right: 0.5rem;
}

audio,
embed,
object,
video,
iframe {
  width: 100%;
}

progress,
meter {
  margin: var(--unit) 0;
  width: 100%;
  height: var(--unit);
  border: none;
  border-radius: 0.25rem;
  overflow: hidden;
  background: var(--color-very-light);
  display: block;
  --background: var(--color-very-light);
  --optimum: #228b22;
  --sub-optimum: #ffd700;
  --sub-sub-optimum: #dc143c;
}

progress[value]::-webkit-progress-bar {
  background: var(--color-very-light);
}

progress[value]::-webkit-progress-value {
  background: var(--color-primary);
}

meter::-webkit-meter-bar {
  background: var(--color-very-light);
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: var(--optimum);
}

meter::-webkit-meter-optimum-value {
  background: var(--optimum);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: var(--sub-optimum);
}

meter::-webkit-meter-suboptimum-value {
  background: var(--sub-optimum);
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: var(--sub-sub-optimum);
}

meter::-webkit-meter-even-less-good-value {
  background: var(--sub-sub-optimum);
}

#__next > footer {
  margin: 0 auto;
  padding: var(--unit-3) var(--unit-1-5);
  background: var(--color-background);
  overflow: hidden;
}

#__next > footer a {
  color: var(--color-body);
}

@media all and (min-width: 640px) {
  nav {
    display: flex;
  }
  nav > * {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media all and (min-width: 960px) {
  header + nav {
    padding: 0;
  }
}

@media screen and (max-width: 640px) {
  table thead {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    border: 0;
  }

  table td,
  table th {
    display: block;
    text-align: right !important;
    border-bottom: 1px solid;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    text-transform: uppercase;
  }
}

/*
 * Header and navigation
 */

.header__logo {
  width: 2.75rem;
  margin-right: 1rem;
}

@media all and (min-width: 960px) {
  .header__logo {
    width: 18.375rem;
  }
}

.visible-large {
  display: none !important;
}

@media all and (min-width: 960px) {
  .visible-large {
    display: block !important;
  }

  .hidden-large {
    display: none !important;
  }
}

#nav_toggle:checked ~ .header-controls {
  display: none;
}

#nav_toggle:checked ~ .header-mobile {
  display: flex;
}

#nav_toggle {
  display: block;
}

@media all and (min-width: 640px) {
  #nav_toggle {
    display: none;
  }
}

.header-controls label {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0 !important;
  background-color: var(--color-body);
  color: var(--color-body-inverted);
  border-color: var(--color-body);
}

.header-mobile {
  display: none;
  flex-flow: column nowrap;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--color-background);
  color: var(--color-body);
  padding: var(--unit-1-5);
}

.header-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile__navigation {
  margin: var(--unit-2) 0;
}

.header-mobile__navigation ul {
  display: block;
  border-right: 0;
  width: 100%;
}

.header-mobile__navigation ul li {
  display: block;
  min-width: 0;
}

.header-mobile__navigation ul li a {
  border-left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  padding: 1.125rem;
}

.header-mobile__navigation ul li + li {
  border-top: 2px solid var(--color-secondary-dark);
}

.navigation__cta {
  background: var(--color-primary);
  color: var(--color-body);
}

.navigation__cta:hover {
  background: var(--color-primary-hover);
}

/*
 * Hero banner
 */

.hero-banner {
  background-image: url(/img/accents/2022.png);
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  padding-left: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.hero-banner::before {
  content: "";
  display: block;
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-image: url(/img/accents/accent-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: 1rem;
  bottom: -2.5rem;
  z-index: 1;
}

.hero-banner__content {
  padding: 1rem 0;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.hero-banner h1 {
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
}

.hero-banner h1 span {
  font-weight: 800;
}

.hero-banner h2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media all and (min-width: 480px) {
  .hero-banner h1 {
    font-size: 5rem;
  }

  .hero-banner::before {
    width: 7rem;
    height: 7rem;
  }
}

@media all and (min-width: 640px) {
  .hero-banner {
    padding: 0;
    background-size: contain;
  }

  .hero-banner__content {
    max-width: 35rem;
    padding: 2.5rem 2rem 2rem;
  }

  .hero-banner h1 {
    font-size: 7rem;
  }

  .hero-banner h2 {
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-banner::before {
    width: 5rem;
    height: 5rem;
    bottom: 12.5rem;
  }
}

@media all and (min-width: 850px) {
  .hero-banner::before {
    right: 2rem;
  }
}

@media all and (min-width: 960px) {
  .hero-banner {
    min-height: 20rem;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .hero-banner__content {
    max-width: 52rem;
    padding: 2.5rem 4rem 4rem;
  }

  .hero-banner h1 {
    font-size: 10.25rem;
  }

  .hero-banner h2 {
    font-size: 2.5rem;
  }

  .hero-banner::before {
    width: 7rem;
    height: 7rem;
    right: -1rem;
    bottom: 17rem;
  }
}

@media all and (min-width: 1280px) {
  .hero-banner__content {
    max-width: 61rem;
    padding-top: 3.5rem;
  }

  .hero-banner h1 {
    font-size: 12rem;
  }

  .hero-banner h2 {
    font-size: 3rem;
  }

  .hero-banner::before {
    width: 8rem;
    height: 8rem;
    bottom: 20rem;
  }
}

/*
 * Card grid
 */

.cards {
  margin: var(--unit-3) 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--unit-3);
  justify-content: center;
}

.cards aside {
  width: var(--measure-min);
}

@media all and (min-width: 640px) {
  .cards {
    margin: var(--unit-4) var(--unit);
    gap: var(--unit-4);
  }
}

.cards img {
  height: 12rem;
  border-radius: 15px;
  object-fit: cover;
}

.card__subheading {
  background-color: var(--color-primary);
  color: var(--color-body-inverted);
  font-weight: 800;
  display: inline-block;
  padding: 0 0.25rem;
  margin: 0;
}

.card--centered {
  text-align: center;
}

.cards img.card__icon {
  width: 11rem;
  height: 11rem;
  border-radius: 0;
  margin: 0 auto;
}

/*
 * Homepage CTAs
 */

.homepage-cta__right {
  max-width: var(--measure-large);
  position: relative;
}

.homepage-cta__right h2 {
  margin-top: 0;
}

.homepage-cta__right * {
  z-index: 2;
}

.homepage-cta__right .cta h3 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.homepage-cta__right .highlighted::before {
  display: none;
}

@media all and (min-width: 960px) {
  .homepage-cta__right::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    background-image: url(/img/accents/accent-image-group.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 380px;
    width: 420px;
    right: -10rem;
    top: 5rem;
  }

  .homepage-cta__right .cta {
    text-align: center;
    margin-bottom: var(--unit-3);
  }

  .homepage-cta__right .highlighted::before {
    display: inline-block;
  }

  .homepage-cta__right h2 {
    margin-top: 3rem;
    font-size: 5rem;
    line-height: 4.6rem;
  }

  .homepage-cta__right {
    margin: var(--unit-4) var(--unit);
    display: grid;
    grid-template-columns: 40rem 1fr;
    grid-column-gap: 7rem;
    align-items: flex-end;
  }
}

@media all and (min-width: 1280px) {
  .homepage-cta__right::after {
    height: 400px;
    width: 440px;
    right: -3rem;
  }
}

.homepage-cta__venue {
  max-width: var(--measure-large);
  position: relative;
}

.homepage-cta__venue * {
  z-index: 2;
}

.homepage-cta__venue h2 {
  margin-top: 0;
}

.homepage-cta__venue img {
  display: none;
}

@media all and (min-width: 960px) {
  .homepage-cta__venue {
    margin: 6rem var(--unit);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    align-items: flex-end;
  }

  .homepage-cta__venue h2 {
    margin-top: 3rem;
  }

  .homepage-cta__venue::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    background-image: url(/img/accents/accent-image.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    width: 120px;
    right: -1rem;
    top: 0rem;
  }

  .homepage-cta__venue img {
    display: block;
  }

  .image--1 {
    height: 400px;
    width: auto;
    object-fit: cover;
    margin-left: 3rem;
    position: absolute;
    top: 0;
  }

  .image--2 {
    position: absolute;
    height: 520px;
    width: 540px;
    left: -21rem;
    top: -2rem;
  }

  .image--3 {
    position: absolute;
    height: 180px;
    width: auto;
    top: 22rem;
    left: 8rem;
  }

  .image--4 {
    position: absolute;
    height: 250px;
    width: auto;
    top: 15rem;
  }
}

.cta--centered * {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 100%;
}

/* Footer styles */

footer {
  max-width: var(--measure-large);
}

.footer__logo {
  width: 8rem;
  margin-bottom: 1rem;
}

@media all and (min-width: 850px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  footer article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }

  .footer__logo {
    width: 13.875rem;
    margin: 0 0 0 auto;
  }
}

footer p {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

footer nav {
  display: block;
}

footer nav ul {
  list-style-type: none;
  padding-left: 0;
}

footer nav ul li {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
}

footer nav ul li a {
  text-decoration: none;
}

footer nav ul li a.active {
  color: var(--color-primary-hover);
}

@media all and (min-width: 850px) {
  footer nav ul li {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

/* Header dropdown nav */

.has-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: var(--leading);
  border-left: 2px solid var(--color-body);
  border-right: 0;
  margin-top: 0;
}

.nav-desktop .has-dropdown:hover .dropdown-menu,
.nav-desktop .has-dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  border-left: 0;
  background-color: var(--color-secondary-hover);
  margin-top: 2px;
}

.header-mobile__navigation .dropdown-menu {
  position: relative;
  border-left: 0;
}

.header-mobile__navigation .dropdown-menu li a {
  font-size: 1rem;
  padding: 0.5rem;
}

/* Footer sub nav */

footer .has-submenu button {
  color: var(--color-body);
  background-color: var(--color-background);
  background-image: url(/img/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 0.75rem;
  background-position: center;
  width: 2rem;
  height: 2.5rem;
  padding: 0;
  margin-left: 1rem;
  vertical-align: top;
  border-color: var(--color-background);
}

footer .has-submenu button:focus {
  border: 0;
}

footer .has-submenu.open button {
  background-image: url(/img/icons/arrow-up.svg);
}

footer .has-submenu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .has-submenu ul li {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  text-decoration: underline;
}

@media all and (min-width: 850px) {
  footer .has-submenu button {
    height: 3.5rem;
  }
}

/* Main content elements */

.call-to-action {
  font-size: 3rem;
  color: var(--color-light);
  margin-bottom: var(--unit);
}

.call-to-action.highlighted::before {
  left: -4rem;
  color: var(--color-light);
}

@media all and (min-width: 960px) {
  .call-to-action {
    font-size: 5rem;
  }
}

.accent-left,
.accent-right {
  position: relative;
}

.accent-left *,
.accent-right * {
  z-index: 2;
}

.accent-left::before {
  content: "";
  display: block;
  position: absolute;
  width: 11rem;
  height: 14.5rem;
  background-image: url(/img/accents/accent-image-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: -17rem;
  top: 5rem;
  z-index: 1;
}

.accent-right::before {
  content: "";
  display: block;
  position: absolute;
  width: 11rem;
  height: 14.5rem;
  background-image: url(/img/accents/accent-image-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
  right: -17rem;
  top: 10rem;
  z-index: 1;
}

hr.accent-left::before {
  background-image: url(/img/accents/accent-image-right.svg);
  width: 14rem;
  height: 18.5rem;
  top: -9rem;
  left: -10rem;
}

hr.accent-right::before {
  background-image: url(/img/accents/accent-image-left.svg);
  width: 14rem;
  height: 18.5rem;
  top: -9rem;
  right: -10rem;
}

.burst-right img {
  position: relative;
  z-index: 2;
}

.burst-right::before {
  content: "";
  display: block;
  position: absolute;
  width: 16rem;
  height: 16rem;
  background-image: url(/img/accents/burst.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: -10rem;
  top: -3rem;
}

@media all and (min-width: 480px) {
  .burst-right::before {
    width: 24rem;
    height: 24rem;
    right: -16rem;
    top: -4rem;
  }
}

@media all and (min-width: 960px) {
  .burst-right::before {
    width: 42rem;
    height: 42rem;
    right: -23rem;
    top: -6rem;
  }
}

/* Speakers list */

.speakers-list__container {
  margin: var(--unit-4) auto;
  position: relative;
}

.speakers-list__container * {
  position: relative;
  z-index: 2;
}

@media all and (min-width: 640px) {
  .speakers-list__container:before {
    content: "";
    display: block;
    position: absolute;
    width: 11rem;
    height: 11rem;
    background-image: url(/img/accents/accent-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 5rem;
    top: 10rem;
  }

  .speakers-list__container:after {
    content: "";
    display: block;
    position: absolute;
    width: 35rem;
    height: 33.75rem;
    background-image: url(/img/accents/swirl.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 20%;
    bottom: 0;
    z-index: 1;
  }
}

.speakers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: var(--unit-3) 0;
}

.speakers-list-standalone {
  justify-content: flex-start;
}

.speakers-list__cta {
  text-align: center;
  margin: 0 auto;
}

@media all and (min-width: 960px) {
  .speakers-list li:first-child,
  .speakers-list li:nth-child(7) {
    margin-left: 7rem;
  }

  .speakers-list li:nth-child(6),
  .speakers-list li:nth-child(12) {
    margin-right: 7rem;
  }

  .speakers-list__cta {
    margin: 8rem 2rem 2rem auto;
    width: max-content;
  }

  .speakers-list.speakers-list-standalone li {
    margin-left: 0;
  }
}

.speakers-list li {
  flex-shrink: 0;
  width: 240px;
  height: 320px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
}

.speakers-list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.speakers-list .placeholder img {
  height: 100%;
  width: 70%;
  object-fit: contain;
  margin: -30px auto 0;
}

.speaker-description {
  opacity: 100%;
  transition: opacity 0.25s;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--color-body-light);
  font-weight: bold;
  bottom: 0;
  width: 100%;
  min-height: 20%;
  border-radius: 0 0 15px 15px;
  padding: 0.5rem 1.25rem 2rem;
}

.speaker-name {
  color: var(--color-body-inverted);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0;
}

.placeholder .speaker-name {
  font-size: 1rem;
}

.speaker-description p:not(.speaker-name) {
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0.5rem 0 0;
}

.speaker-about-content {
  display: grid;
  gap: 30px;
}

@media all and (min-width: 640px) {
  .speaker-about-content {
    grid-template-columns: 1fr 4fr;
  }
}

.speaker-about-content p:first-child {
  margin-top: 0;
}

.speaker-about-content img {
  height: auto;
}

/* Sponsors section */

.sponsors {
  background-color: var(--color-sponsors-background);
  color: var(--color-sponsors-text);
  width: 100%;
  padding: 2rem 0;
}

.sponsors__intro-content {
  margin-bottom: 2rem;
  background-image: url(/img/accents/sponsor-intro.svg);
  background-repeat: no-repeat;
  background-size: 4.875rem auto;
  padding-left: 6.125rem;
  min-height: 10rem;
}

.sponsors__intro-content h3 {
  margin-top: 0;
}

@media all and (min-width: 800px) {
  .sponsors {
    padding: 4rem 0;
  }

  .sponsors__intro-content {
    background-size: 6.875rem auto;
    padding-left: 8.125rem;
    min-height: 14rem;
  }

  .sponsors__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media all and (min-width: 1240px) {
  .sponsors {
    padding: 7rem 0;
  }

  .sponsors__intro {
    grid-template-columns: 1fr 2fr;
  }
}

.sponsors__intro-content p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.sponsors hr {
  background: var(--color-secondary);
  margin: 0;
}

.sponsors__tier {
  position: relative;
  width: 100%;
  padding-left: 0;
  min-height: 180px;
  display: flex;
}

.sponsors__tier-title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 0 20px 0 0;
  width: 40px;
  position: relative;
  display: flex;
}
.sponsors__tier-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: block;
  transform-origin: 50% 50%;
}

.sponsors__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.sponsors__logos img {
  max-height: 8rem;
  max-width: 25%;
}

/* Sponsor tiers grid */

.tiers-grid {
  display: grid;
  gap: 2rem;
  margin: 4rem 0rem 2rem;
}

.tier-card {
  background: var(--color-body);
  color: var(--color-body-inverted);
  border-radius: 15px;
  padding: 1.5rem;
  position: relative;
}

@media all and (min-width: 680px) {
  .tiers-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 960px) {
  .tiers-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (min-width: 1080px) {
  .tiers-grid {
    gap: 2rem;
    margin: 4rem -2rem 2rem;
  }

  .tier-card {
    padding: 2rem;
  }
}

@media all and (min-width: 1280px) {
  .tiers-grid {
    gap: 2.25rem;
    margin: 4rem -4rem 2rem;
  }
}

.tier-card :first-child {
  margin-top: 0;
}

.tier-card :last-child {
  margin-bottom: 0;
}

.tier-card::after {
  content: "";
  display: block;
  width: 3.5rem;
  height: 7.5rem;
  background-image: url(/img/accents/tag-keystone.svg);
  background-size: cover;
  position: absolute;
  top: -1rem;
  right: 1rem;
}

@media all and (min-width: 480px) {
  .tier-card::after {
    width: 4.938rem;
    height: 10.5rem;
    right: 1.75rem;
  }
}

@media all and (min-width: 1080px) {
  .tier-card::after {
    right: 1.75rem;
  }
}

@media all and (min-width: 1280px) {
  .tier-card::after {
    width: 5.9375rem;
    height: 12.5rem;
  }
}

.tier-card.diamond::after {
  background-image: url(/img/accents/tag-diamond.svg);
}

.tier-card.platinum::after {
  background-image: url(/img/accents/tag-platinum.svg);
}

.tier-card.gold::after {
  background-image: url(/img/accents/tag-gold.svg);
}

.tier-card.silver::after {
  background-image: url(/img/accents/tag-silver.svg);
}

.tier-card.bronze {
  margin-bottom: 2rem;
}

.tier-card.bronze::after {
  background-image: url(/img/accents/tag-bronze.svg);
  height: 5rem;
}

.tier-card.patron::after {
  background-image: url(/img/accents/tag-patron.svg);
  height: 5rem;
}

@media all and (min-width: 480px) {
  .tier-card.bronze::after,
  .tier-card.patron::after {
    height: 7rem;
  }
}

@media all and (min-width: 1280px) {
  .tier-card.bronze::after,
  .tier-card.patron::after {
    height: 8.125rem;
  }
}

.tier-card h3 {
  margin-bottom: 0.75rem;
}

.tier-card__slots {
  font-size: 1.3125rem;
  margin: 0.75rem 0;
}

.tier-card__price {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0.75rem 0 1rem;
}

.tier-card__includes {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  margin: 1.25rem 0 0.5rem;
}

.tier-card ul {
  font-size: 1rem;
  margin-top: 0.5rem;
  list-style-type: none;
  padding-left: 0;
}

.tier-card ul li {
  position: relative;
  padding-left: 2rem;
}

.tier-card ul li::before {
  content: "";
  display: block;
  background: url(/img/icons/tick.svg);
  background-size: cover;
  position: absolute;
  left: 0.25rem;
  top: 0.35rem;
  width: 0.75rem;
  height: 0.75rem;
}

/* Benefits list */

.benefits-list {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
}

.benefits-list li {
  max-width: 100%;
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

.benefits-list h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.benefits-list p {
  margin: 0.75rem 0;
  font-size: 1rem;
}

@media all and (min-width: 640px) {
  .benefits-list .column {
    max-width: calc((100% - 1.5rem) / 2);
  }

  .benefits-list li {
    grid-template-columns: 4rem 1fr;
    width: 100%;
  }
}

@media all and (min-width: 960px) {
  .benefits-list h5 {
    font-size: 2.25rem;
  }

  .benefits-list p {
    font-size: unset;
  }
}

ul.milestone-done li {
  position: relative;
  list-style: none;
}

ul.milestone-done li::before {
  content: "\2705  ";
}

ul.milestone-todo li {
  position: relative;
  list-style: none;
}

ul.milestone-todo li::before {
  content: "\1F4DD  ";
}

button[name="vote"] {
  display: inline block;
  padding: 0.35em 0.5em;
  margin: 0.3em 0.3em 0.3em 0.3em;
  text-align: center;
  min-width: 140px;
}

button[name="vote"]:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-body-inverted);
  text-decoration: none;
}

/* Previous sponsors section */

.previous-sponsors {
  background-color: #ffffff;
}

.sponsor-marquee {
  height: 18rem;
  padding: 6rem 0;
  display: flex;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-2000px, 0);
  }
}

.full-width {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

@media all and (min-width: 960px) {
  .full-width {
    margin-left: calc(-100vw / 2 + var(--measure) / 2 - 1.5rem);
    margin-right: calc(-100vw / 2 + var(--measure) / 2 - 1.5rem);
  }
}

@media all and (min-width: 1280px) {
  .full-width {
    margin-left: calc(-100vw / 2 + var(--measure-large) / 2 - 1.5rem);
    margin-right: calc(-100vw / 2 + var(--measure-large) / 2 - 1.5rem);
  }
}

.sponsor-marquee img {
  display: inline-block;
  height: 100%;
  margin-right: 6rem;
}

/* Decorated quotes section */

.quotes-section {
  background-image: url(/img/accents/swirl.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.5rem 0;
  position: relative;
}

@media all and (min-width: 960px) {
  .quotes-section::before {
    content: "";
    display: block;
    position: absolute;
    width: 13rem;
    height: 17rem;
    background-image: url(/img/accents/accent-image-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: -4rem;
    top: 21rem;
    z-index: 1;
  }

  .quotes-section::after {
    content: "";
    display: block;
    position: absolute;
    width: 7rem;
    height: 7rem;
    background-image: url(/img/accents/accent-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 5rem;
    top: 7rem;
    z-index: 1;
  }
}

.quotes-section blockquote {
  max-width: 75%;
  z-index: 3;
}

.quotes-section blockquote + blockquote {
  margin-top: 0;
}

.quotes-section blockquote:nth-child(2) {
  margin-left: 30%;
}

.quotes-section blockquote:nth-child(3) {
  margin-left: 15%;
}

/* Schedule grid */

.schedule {
  background-color: var(--color-body);
  color: var(--color-body-inverted);
  text-align: center;
  font-weight: bold;
  margin: 2rem 0;
}

.schedule .headings {
  color: var(--color-body-light);
  display: none;
}

.schedule .row div,
.schedule .break span,
.schedule .headings span {
  padding: 0.5rem 0.5rem;
}

.schedule .row {
  padding: 0 0.5rem;
}

.schedule .break {
  padding: 1rem;
  background-color: var(--color-secondary-light);
}

.schedule .break .break__description {
  text-align: left;
}

.talk {
  background-color: var(--color-background);
  color: var(--color-body);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.talk p {
  margin: 0;
}

.talk__rating {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
  padding: 0.5rem 0.8rem;
}

.beginner {
  background-color: var(--color-beginner);
}

.intermediate {
  background-color: var(--color-intermediate);
}

.advanced {
  background-color: var(--color-advanced);
}

.no-rating {
  padding: 2rem 0 1rem !important;
}

.no-rating .talk__title {
  color: var(--color-body);
}

.talk__title {
  color: var(--color-secondary);
  padding: 0.8rem;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
}

.talk__title a {
  color: var(--color-secondary);
  text-decoration: none;
}

.talk__title a:hover,
.talk__title a:focus {
  color: var(--color-secondary-light);
  text-decoration: underline;
}

.talk__speaker {
  display: none;
  border-top: 1px solid white;
  margin: 0 0.8rem;
  padding: 1rem 0 2rem !important;
  grid-template-columns: 2.75rem 1fr;
}

.talk__speaker img {
  border-radius: 50%;
  height: 2.75rem;
  width: 2.75rem;
  object-fit: cover;
}

.speaker__bio {
  padding: 0 0.5rem !important;
  text-align: left;
}

.speaker__name {
  font-size: 0.875rem;
  display: block;
}

.speaker__title {
  font-size: 0.625rem;
  font-weight: normal;
  display: block;
}

.talk__mobile-details {
  text-align: left;
  padding: 0 0.8rem 1rem !important;
  font-size: 0.875rem;
}

@media all and (min-width: 640px) {
  .schedule .row {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .schedule .talk__time {
    grid-column: span 2;
  }
}

@media all and (min-width: 1180px) {
  .talk__rating {
    padding: 0.8rem;
  }

  .no-rating {
    padding: 2.6rem 0 !important;
  }

  .talk__mobile-details {
    display: none;
  }

  .talk__speaker {
    display: grid;
  }

  .schedule .row {
    padding: 0;
  }

  .schedule .headings {
    display: block;
  }

  .schedule .talk__time {
    grid-column: span 1;
  }

  .schedule .row div,
  .schedule .break span,
  .schedule .headings span {
    padding: 1rem 0.5rem;
  }

  .schedule .row,
  .schedule .headings {
    display: grid;
    grid-template-columns: 5rem repeat(6, 1fr);
    padding: 0rem 2rem 0rem 1rem;
  }

  .schedule .break {
    display: grid;
    grid-template-columns: 5rem 1fr;
    padding: 0rem 2rem 0rem 1rem;
  }
}

@media all and (min-width: 1280px) {
  .talk__rating {
    padding: 1rem 0.8rem;
  }

  .no-rating {
    padding: 3rem 0 !important;
  }

  .schedule .row,
  .schedule .headings {
    grid-template-columns: 6rem repeat(6, 1fr);
    padding: 0rem 4rem;
  }

  .schedule .break {
    grid-template-columns: 6rem 1fr;
    padding: 0rem 4rem;
  }
}

@media all and (min-width: 1500px) {
  .schedule .row div,
  .schedule .break span,
  .schedule .headings span {
    padding: 1rem 0.75rem;
  }

  .talk__title {
    padding: 1rem 1.125rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .talk__speaker {
    margin: 0 1.125rem;
  }

  .talk__rating {
    padding: 1rem 1.125rem;
  }
}

.select--schedule {
  background-color: var(--color-body);
  color: var(--color-body-inverted);
  font-weight: bold;
  border-radius: 15px;
  background-image: url(/img/icons/arrow-down-black.svg);
}

@media all and (min-width: 1180px) {
  .select--schedule {
    background-color: var(--color-body);
    color: var(--color-body-inverted);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1.5rem 3rem;
    height: 5.5rem;
    border-radius: 15px;
    background-image: url(/img/icons/arrow-down-black.svg);
    background-position: calc(100% - 3rem) center;
  }
}

/* Session page */

.tag {
  display: inline-block;
  background-color: var(--color-secondary);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.125rem;
  padding: 0.625rem;
  border-radius: 10px;
  margin-right: 0.35rem;
  margin-bottom: 0.35rem;
}

.session__speaker-image {
  border-radius: 50%;
  height: 19rem;
  width: 19rem;
  max-width: 100%;
  object-fit: cover;
  margin: 2rem 0;
}

.session__speaker-image + p {
  margin-top: 2rem;
}
