@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-green-800 text-white;
}

.layout-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(1150px, 100%)
    1fr;
}

.layout-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.schedule-item {
  grid-row: var(--grid-row);
  grid-column: var(--grid-column);
}
