@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0409e7;
  --color-primary-hover: #3c3ffa;
  --color-primary-active: #3c3ffa;
  --color-button: #f00;
  --color-button-hover: #c00;
  --color-secondary: #ff8b9d;
  --color-secondary-dark: #203c90;
  --color-secondary-darkest: #001c13;
  --color-secondary-light: #ffc2cc;
  --color-text: #000058;
  --color-text-inverted: #fff;
  --color-body-background: #f2e3d2;
  --color-hero-primary: #4b5cba;
  --color-hero-secondary: #b5682b;
}

.tp-dfwv {
  position: fixed !important;
  z-index: 9999;
}

body {
  @apply bg-body-background text-text;
}

.layout-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(1150px, 100%)
    1fr;
}

.layout-wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

@media (min-width: 1024px) {
  .schedule-item {
    grid-row: var(--grid-row) !important;
    grid-column: var(--grid-column) !important;
  }
}

.prose :is(h1, h2, h3, h4, h5, h6) a {
  text-decoration: none !important;
}

ul.milestone-done li {
  position: relative;
  list-style: none;
}

ul.milestone-done li::before {
  content: "\2705  ";
}

ul.milestone-todo li {
  position: relative;
  list-style: none;
}

ul.milestone-todo li::before {
  content: "\1F4DD  ";
}

img.findaid-accent-round-marker {
  width: 120px;
  min-width: 70px;
  padding: 0 10px;
  display: inline-block;
}

table.finaid-timeline td {
  padding-bottom: 1rem;
}

div.finaid-sponsor {
  width: 50%;
  margin: 0 auto 2rem auto;
}

.list-disc li {
  list-style: none;
  position: relative;
}

ul.list-disc li::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: url(/img/list-item.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}
