#powered-by-vercel {
  margin-top: 20px;
}
#powered-by-vercel a::after {
  content: "";
}

.sponsors__logos a::after {
  content: "";
}

.sponsors__logos img {
  max-height: 8rem;
  max-width: 15rem;
}

.sponsors--no-sponsors .sponsors__intro {
  display: block;
  max-width: 32rem;
  margin: 0 auto;
}

.cards h3 {
  font-size: 1.75rem;
}

.cards a {
  color: inherit;
  text-decoration: none;
}
