#powered-by-vercel {
  margin-top: 20px;
}
#powered-by-vercel a::after {
  content: "";
}

.sponsors__logos a::after {
  content: "";
}

.sponsors__logos img {
  max-height: 8rem;
  max-width: 15rem;
}

.sponsors--no-sponsors .sponsors__intro {
  display: block;
  max-width: 32rem;
  margin: 0 auto;
}

.cards h3 {
  font-size: 1.75rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.cards a {
  color: inherit;
  text-decoration: none;
}

.next-image {
  aspect-ratio: 16/9;
  position: relative;
}

.note {
  margin-top: var(--unit-1-5);
  padding: var(--unit-1-5);
  border-left: 6px solid var(--color-primary);
  width: 90%;
  font-size: 2.5rem;
  line-height: 1.2;
}

summary h2 {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

summary,
summary:hover {
  list-style: none;
  margin: 0;
  text-decoration: none;
}
summary::-webkit-details-marker {
  display: none;
}

details {
  padding: 0;
}

details::before {
  display: none;
}

summary h2 {
  font-size: 2rem;
}

summary h2::after {
  content: "👇";
  display: inline-block;
  font-size: 0.8em;
  margin-left: 0.4em;
}

details[open] summary h2::after {
  content: "";
}

details[open] h2 {
  text-decoration: none;
}

a.img[href*="://"]:after
{
  content: "";
  text-decoration: none !important
}

h2.soldout::after {
  content: url(/img/accents/soldout.svg);
  padding: 0.5rem;
}

li.new::before {
  content: url(/img/accents/new.svg);
  padding: 0.5rem;
}

 li.soldout::after {
  content: url(/img/accents/soldout_vertical.svg);
  padding: 0.5rem;
}

h5.new::before {
  content: url(/img/accents/new_large.svg);
  padding: 0.5rem;
}

h5.new::after {
  content: "👇";
  display: inline-block;
  font-size: 0.8em;
  margin-left: 0.4em;
}
