---
import { Title } from "../typography/title";

export interface Props {
  ctaTitle: string;
}

const { ctaTitle } = Astro.props;
---

<div class="md:grid gap-12 grid-cols-[40rem_1fr]">
  <div><slot /></div>

  <div class="flex items-end justify-center">
    <div class="mt-12 md:mt-0 md:relative -top-12 text-center">
      <Title level={3} className="font-bold text-3xl mb-4">
        {ctaTitle}
      </Title>

      <slot name="cta" />
    </div>
  </div>
</div>
