---
import Prose from "../prose/prose.astro";
import { ButtonLink } from "../button-link";
import { Link } from "../link/link";
import { Title } from "../typography/title";
import { Image } from "astro:assets";

export interface Props {
  title: string;
}

const { title } = Astro.props;

import venueImage from "./venue-hero.jpg";
---

<article class="lg:grid gap-12 grid-cols-2">
  <div class="relative hidden lg:block">
    <Image
      src={venueImage}
      class="w-full h-auto"
      alt=""
      width={1200}
      height={900}
    />
  </div>
  <div class="flex flex-col justify-center">
    <Title level={2}>{title}</Title>

    <Prose>
      <slot />
    </Prose>

    <div class="space-x-4 mb-5">
      <ButtonLink href="/where#prague-congress-centre---conference-venue">
        PCC Conference Venue
      </ButtonLink>
      <Link
        href="https://goo.gl/maps/S13ZYR1ktN7ebwyP7"
      >
        Get directions to the PCC
      </Link>
    </div>
    <div class="space-x-12">
      <ButtonLink href="/sprints#location-of-the-sprints-venue">
        VŠE Sprints Venue
      </ButtonLink>
      <Link href="https://goo.gl/maps/2PbAF2KvGtUqLS9V9">
          Get directions to the VŠE
      </Link>
    </div>
  </div>
</article>
