---
import Prose from "../prose/prose.astro";
import { ButtonLink } from "../button-link";
import { Link } from "../link/link";
import { Title } from "../typography/title";
import { Image } from "astro:assets";

export interface Props {
  title: string;
}

const { title } = Astro.props;

import venueImage from "./prague.png";
---

<article class="lg:grid gap-12 grid-cols-2">
  <div class="relative hidden lg:block">
    <Image
      src={venueImage}
      class="w-full h-auto border-4 border-white rounded-lg shadow-lg"
      alt="Beautiful view of Prague"
      width={1200}
      height={900}
    />
  </div>
  <div class="flex flex-col justify-center">
    <Title level={2}>{title}</Title>

    <Prose>
      <slot />
    </Prose>

    <div class="space-x-4 mb-5">
      <ButtonLink href="/where">
        Where is EuroPython?
      </ButtonLink>
    </div>
    <div class="space-x-12">
      <ButtonLink href="/explore">
        Explore Prague
      </ButtonLink>
    </div>
  </div>
</article>
